<!DOCTYPE html>
<html>
  <head>
    <title>Hope: COVID-19 Messenger bot</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="<%= asset('app.js') %>" defer></script>
  </head>
  <body>
    <div id="root"></div>
    <script>
       (function(doc, script, domId){
         var js, fjs = doc.getElementsByTagName(script)[0];
         if (doc.getElementById(domId)) { return; }
         js = doc.createElement(script);
         js.id = domId;
         js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
