<!DOCTYPE html>
<html>
  <head>
    <title>Hope: COVID-19 Messenger bot</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="<%= asset('app.css') %>">
    <script src="<%= asset('app.js') %>" defer></script>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.extAsyncInit = function () {
        MessengerExtensions.askPermission(
          function(permission_response) {
            // Person grants or rejects the asked permission.
            let permissions = permission_response.permissions; // list of all permissions granted
            let isGranted = permission_response.isGranted;

            if (isGranted) {
              // User has granted user_profile permission
              console.log('Yahoo!')
            }
            
          }, function(errorCode, errorMessage) {
            // Error occurred
            console.log(errorCode)
          },
          "user_profile"
        );

        MessengerExtensions.getContext('<%= fbAppId %>', 
          function success (thread_context) {
            window.threadContext = thread_context
          },
          function error (error) {
            console.log(error)
          }
        );
      }
    
      window.appUrl = '<%= appUrl %>'

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
